{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div id="frame" style="width:320px; height:auto;margin: 0 auto;"><iframe data-aa='2381200' src='//ad.a-ads.com/2381200?size=320x50' style='width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe><a style="display: block; text-align: right; font-size: 12px;" id="preview-link" href="https://aads.com/campaigns/new/?source_id=2381200&source_type=ad_unit&partner=2381200">Advertise here</a></div>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      <li><a href="https://health.tbwcjw.online">/health</a></li>
    </ul>
  </div>
</header>
